@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --speed: 12s;
  --font-size: clamp(16px, 3.5vw, 20px);
  --accent: #00c2a8;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none !important;
}

ul {
  display: flex;
  /* align-items: center; */
  margin: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

ul li {
  list-style: none;
}

/* HEADER-TOP */

.header-top-main {
  background-color: #0F2437;
}

.header-top {
  background-color: #0F2437;
  color: #ffff !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top a {
  color: #ffff;
}

.header-top a:hover,
.gender li:hover {
  color: #ff8531;
  transition: all .1s;
  cursor: pointer;
}

.header-top i {
  color: #ff8531;
  font-size: 22px;

}

.infor-indus {
  display: flex;
  gap: 40px;
}

.infor-indus a {
  display: flex;
  align-items: end;
  gap: 10px;
}

.gender ul {
  gap: 20px;
  justify-content: space-between;
}

.marquee {
  /* width:100%;
    max-width:1100px; */
  overflow: hidden;
}

/* track chứa 2 bản copy để loop mượt */
.marquee-track {
  display: flex;
  gap: 48px;
  align-items: center;
  white-space: nowrap;
  animation: scroll var(--speed) linear infinite;
}

.marquee-item {
  font-weight: 600;
  font-size: var(--font-size);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}


/* dừng khi hover wrapper */
.marquee:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

  /* vì track có 2 set giống nhau */
}

/* giảm motion cho người cần */
@media (prefers-reduced-motion: reduce) {
  .marquee-track {
    animation: none;
    transform: none;
  }
}


/* HEADER-CENTER */
.header-center {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 100px;
}

.policy ul {
  /* margin-left: 55px !important; */
  gap: 107px;
}

.policy li img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.policy li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.policy li a {
  color: black !important;
}

/* HEADER-BOTTOM */
.header-bottom {
  display: flex;
  /* align-items: center; */
}

.main-list-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  background-color: #FF8531;
  border-radius: 10px;
  padding: 10px;
  color: #ffff;
  cursor: pointer;
  width: 100%;
}

.main-list-products p {
  margin: 0 !important;
  font-weight: 500;
  font-size: 17px;
}

.main-list-products .bx-menu {
  font-size: 25px;
}

.main-list-products .bx-check {
  font-size: 20px;
}

.list-product {
  position: relative;
  width: 310px;

}

.banner {
  margin: 20px 0 0 0;
}

.banner img{
  width: 100%;
}

#header {
  width: 100%;
  transition: all 0.3s ease; /* mượt khi đổi trạng thái */
  z-index: 999;
}

#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;      /* nên set màu nền để che nội dung dưới */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


/* MAIN */
.list-pr {
  width: 310px;
  position: absolute;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease;
  /* Animation */

}

.list-pr.active {
  max-height: 1000px;
  /* đặt đủ lớn để chứa toàn bộ menu */
  opacity: 1;
}


.list-product:hover .list-pr {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.list-pr ul.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 !important;
  border-radius: 10px;
  margin-top: 10px !important;
  background-color: #ffff;
}

.list-pr ul li p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-pr ul li {
  padding: 14px 10px 14px 15px;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
  font-weight: 500
}

.list-pr ul li i {
  font-size: 27px;
  color: #9b9b9b;
  font-weight: 200 !important;
}


.list-pr ul li:hover i.bx-flip-vertical {
  display: block;
  color: #FF8531;
}

/* .list-pr ul li:hover i.bx-chevron-left {
  display: none;
} */

.sub-menu {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 !important;
}

.main-menu.active>.sub-menu {
  max-height: 500px;
  /* đủ lớn */
  opacity: 1;
}

.main-menu.active {
  box-shadow: 0px -1px 1px 5px rgba(0, 0, 0, 0.04);
}

/* Xoay icon khi active */
.main-menu>p i {
  transition: transform 0.3s;
}

.main-menu.active>p i {
  transform: rotate(-90deg);
}

.sub-menu li:hover {
  color: #FF8531 !important;
}

.show-all {
  display: flex !important;
  align-items: center;
  justify-content: start !important;
  gap: 6px;
}

.categories li:hover p,
.categories .show-all:hover p {
  color: #FF8531 !important;
}

.search {
  width: 58%;
  position: relative;
  height: fit-content;
  margin: 0px 46px 0 30px;
}

#ip-search {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  height: 46px;
  border: 1px solid #dedede;
  border-radius: 4px;
  outline: 0;
  padding: .375rem .75rem;
}

.search .bx-search {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-50%, -50%);
  color: #c0bebe;
  font-size: 22px;
}

.registered-sales {
  align-items: center;
  background: #fff6f0;
  border: 1px solid #ff9952;
  border-radius: 4px;
  color: #0f2437;
  display: flex;
  font-size: 17px;
  font-weight: 500;
  height: 46px;
  justify-content: center;
  width: 150px;
  cursor: pointer;
  /* padding: 0 27px; */
}

.list-pr ul li:last-child {
  border: 0px;
}

.filter-bar {
  display: flex;
  background: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
  width: 74%;
  font-family: Arial, sans-serif;
  height: fit-content;
  margin: 10px 0 0 30px;
}

.filter-bar button {
  flex: 1;
  padding: 8px 20px;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.filter-bar button:hover {
  background: #ddd;
}

.filter-bar button.active {
  background: #ff6600;
  color: #fff;
  font-weight: bold;
}

.show-all-product {
  display: flex;
}

.kinh-hien-vi {
  margin: 20px 0px;
}

.kinh-hien-vi .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.category-group-title {
  align-items: center;
  background: #f5f5f5;
  display: flex;
  height: 42px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px 0 25px 24px;
}

.category-group-title h4 {
  color: #ff7618;
  margin: 0 !important;
}

.product {
  text-align: center;
  box-shadow: 0 0 8px #999;
  margin-bottom: 25px;
  padding: 20px 10px 0 10px;
  cursor: pointer;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.product:hover img {
  scale: 1.2;
  transition: all .3s ease-in-out;
}

.product img {
  height: 230px;
  transition: all .3s ease-in-out;
}

.product .detail-product {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product .price {
  color: red;
  font-weight: 500;
  margin-top: 10px;
}

.hinh-anh {
  height: 230px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.col-6.col-sm-4.col-md-3.col-lg-3 {
  margin-bottom: 20px;
}

.hidden {
  display: none !important;
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: #FF8531;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none; /* ẩn mặc định */
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease;
  z-index: 1000;
}

#backToTop.show {
  display: flex; /* hiện khi scroll xuống */
}

main {
  overflow: hidden !important;
}